@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --color-theme-bg: #14120b;
  --color-theme-fg: #edecec;
  --color-theme-fg-02: #d7d6d5;

  --color-theme-card-hex: #1b1913;
  --color-theme-card-rgb: 27 29 39;

  --color-theme-card-01-hex: #1d1b15;
  --color-theme-card-02-hex: #201e18;
  --color-theme-card-03-hex: #26241e;
  --color-theme-card-04-hex: #2b2923;

  --color-theme-card-hover-hex: #201e18;
  --color-theme-card-hover-light-hex: #1d1b15;
  --color-theme-card-warm-hex: #1c1713;

  --color-theme-product-chrome: var(--color-theme-bg);
  --color-theme-product-editor: var(--color-theme-card-hex);
}

body{
    background-color: var(--color-theme-bg);
     font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
header{
    background-color: var(--color-theme-bg);
    color: var(--color-theme-fg);
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    z-index: 1000;
    display: block;
}

nav{
    height: 52px;
    max-width: 1300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr ;
    align-items: center;
    margin-left: 90.4px;
    margin-right: 90.4px; 
    
}

nav .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-links a{
    color: var(--color-theme-fg);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
    padding:5.6px 15px;
    display: inline;
    background-color: transparent;
    border: 1px solid transparent;
}   

nav .nav-links a:hover{
    color: var(--color-theme-fg-02);
}

#download {
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    border: 1px solid var(--color-theme-fg);
    cursor: pointer;
    border-radius: 3.40282e38px;
    font-weight: 400;
    display:inline-flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    padding: .4em .75em .42em;
    font-size: 0.875rem;
    margin-left: 5px;
}

#signin{
    background-color: var(--color-theme-bg);
    color: var(--color-theme-fg);
    border: 1px solid #45433e;
    cursor: pointer;
    border-radius: 3.40282e38px;
    font-weight: 400;
    display:inline-flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    padding: .4em .75em .42em;
    font-size: 0.875rem;
    margin-right:5px;
}

.nav-buttons{
    display: flex;
    justify-content: right;
    align-items: center;
}

main{
    min-height: 70vh;
    display: block;
    color: var(--color-theme-fg);
    padding-top: 52px;
}

main .hero{
    color: var(--color-theme-fg);
    background-color: var(--color-theme-bg);
    padding: 112px 20px 67.2px 20px;
}

main .hero .container{
    max-width: 1300px;
    width: 100%;
    margin-inline: auto;
}

main .hero .container .h1{
    text-align: left;
    max-width: 65ch;
    margin-bottom: 22.4px;
}

main .hero .container .h1 h1{
    text-wrap: balance;
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: -0.0125em;
}

main .hero .container .text button {
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    border: 1px solid var(--color-theme-fg);
    cursor: pointer;
    border-radius: 3.40282e38px;
    font-weight: 400;
    display:inline-flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    padding: .78em 1.35em 0.8em;
    font-size: 1rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnIcon {
    padding-left: 4px;

}

.btnIcon img{
    width: 16px;
    height: 16px;
}

main .container .text{
    margin-bottom: 56px;
}

main .container .mediaBox img{
    position: relative;
    width: 1300px;
    height: 680px;
    border-radius: 5px;
}

#logoGarden{
    color: var(--color-theme-fg);
    padding: 0 20px 33.6px 20px;
    background-color: var(var(--color-theme-bg));
}

#logoGarden .gardenContainer{
    max-width: 1300px;
    width: 100%;
    margin-inline: auto;
    text-align: center;
}

#logoGarden .gardenContainer .textline{
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin-bottom: 22.4px;
}

#logoGarden .gardenContainer .Garden{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
    text-align: center;
}

.Brandlogos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 0;
}

.brand{
    height: 6.25rem;
    padding-inline: 7.5px;
    background-color: var(--color-theme-card-hex);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.brand img{
    height: 2.5rem;
    object-fit: contain;
    width: auto;
    display: block !important
}